@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 10;
  padding: 0;
  width: 100%;
}

body {  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f8fbd8;
  color: #000000;
  min-height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the header spans the full width */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 0.5rem; /* Add some padding around the content */
  margin: 0; /* Remove default margin */
}

#header .left-content,
#header .right-content {
  display: flex;
  align-items: center;
}

#header img {
  height: 4rem;
  object-fit: contain;
  background-color: transparent;
  margin-right: 1rem;
}

#header h1 {
  font-size: 30px;
  margin-left: 0rem;
  font-family: "Comic Sans Ms", sans-serif;
}

#header .right-content button {
  margin-left: 1rem;
}